In [1]:
import sys
import os

# Add the parent directory to Python path
sys.path.append(os.path.abspath('../'))

from pandas_batcher import PandasBatcher
import pandas as pd

In [2]:
pb = PandasBatcher(path='../read_data/data.parquet',
                   batch_size=10000000,
                   platform='local'
                   )

In [3]:
df = pb.get_first_batch()

In [4]:
df.head()

   id     value category extra
0   0  0.120654        C     F
1   1  0.632094        C     E
2   2  0.155401        B     F
3   3  0.468522        A     D
4   4  0.053059        A     E

## Transformations

In [5]:
df['extra1'] = df.apply(lambda x: f"{x['category']}_{x['id']}", axis=1)

In [6]:
df.head()

   id     value category extra extra1
0   0  0.120654        C     F    C_0
1   1  0.632094        C     E    C_1
2   2  0.155401        B     F    B_2
3   3  0.468522        A     D    A_3
4   4  0.053059        A     E    A_4

In [7]:
def transform_func(df):
    df['extra1'] = df.apply(lambda x: f"{x['category']}_{x['id']}", axis=1)
    return df

In [8]:
df = None

In [9]:
pb.process_data(
    path='../write_data/simple_processing',
    processing_function=transform_func,
    platform='local'
)

Processing dataset for ../read_data/data.parquet: 100%|██████████| 1/1 [46:24<00:00, 2784.01s/it]

Done writing to ../write_data/simple_processing