In [ ]:
import sys


sys.path.insert(0, "../../../")



import phitter

In [2]:
parameters = {0: 0.5, 1: 0.3, 2: 0.2}
simulation = phitter.simulation.QueueingSimulation(
    a="exponential",
    a_parameters={"lambda": 5},
    s="exponential",
    s_parameters={"lambda": 20},
    c=3,
    d="PBS",
    pbs_distribution="own_distribution",
    pbs_parameters=parameters,
)
simulation.run(2000)

,Attention Order,Arrival Time,Total Number of people,Number of people in Line,Time in Line,Time in service,Leave Time,Join the system?,Time busy server 1,Time busy server 2,Time busy server 3,Server 1 attended this element?,Server 2 attended this element?,Server 3 attended this element?,Priority,Finish after closed
0,1,0.450085,1,0,0.0,0.019945,0.470030,1,0.470030,0.000000,0.000000,1,0,0,2,0
1,2,1.157000,1,0,0.0,0.035381,1.192381,1,1.192381,0.000000,0.000000,1,0,0,2,0
2,3,1.558221,1,0,0.0,0.021818,1.580038,1,1.580038,0.000000,0.000000,1,0,0,0,0
3,4,1.929854,1,0,0.0,0.024388,1.954242,1,1.954242,0.000000,0.000000,1,0,0,1,0
4,5,2.360597,1,0,0.0,0.043461,2.404058,1,2.404058,0.000000,0.000000,1,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9798,9798,1998.867120,2,0,0.0,0.016879,1998.883999,1,1998.883999,1998.018120,1997.600169,1,0,0,0,0
9799,9799,1998.945240,2,0,0.0,0.160048,1999.105288,1,1999.105288,1998.018120,1997.600169,1,0,0,0,0
9800,9800,1998.993596,3,0,0.0,0.069823,1999.063419,1,1999.105288,1999.063419,1997.600169,0,1,0,0,0
9801,9801,1999.143399,2,0,0.0,0.012548,1999.155947,1,1999.155947,1999.063419,1997.600169,1,0,0,2,0
9802,9802,1999.253613,2,0,0.0,0.147810,1999.401423,1,1999.401423,1999.063419,1997.600169,1,0,0,0,0

In [3]:
simulation.number_probability_summary()

,Number of elements,Prob. Less or Equals,Exact Probability,Prob. Greter or equals
0,0,0.751876,0.751876,1.000000
1,1,0.966413,0.214537,0.248124
2,2,0.996878,0.030466,0.033587
3,3,0.999580,0.002701,0.003122
4,4,0.999925,0.000345,0.000420
5,5,1.000000,0.000075,0.000075

In [5]:
simulation = phitter.simulation.QueueingSimulation(
    a="exponential",
    a_parameters={"lambda": 5},
    s="exponential",
    s_parameters={"lambda": 20},
    c=3,
    d="FIFO",
)



probabilities_confidence_interval, metrics_confidence_interval = (
    simulation.confidence_interval_metrics(2000, replications=10)
)

In [6]:
probabilities_confidence_interval

,Number of elements,LB - Prob. Less or Equals,AVG - Prob. Less or Equals,UB - Prob. Less or Equals,LB - Exact Probability,AVG - Exact Probability,UB - Exact Probability,LB - Prob. Greater or equals,AVG - Prob. Greater or equals,UB - Prob. Greater or equals
0,0,0.776631,0.778164,0.779697,0.776631,0.778164,0.779697,1.000000,1.000000,1.000000
1,1,0.972118,0.972807,0.973495,0.193257,0.194642,0.196028,0.220303,0.221836,0.223369
2,2,0.997660,0.997752,0.997843,0.024330,0.024945,0.025561,0.026505,0.027193,0.027882
3,3,0.999777,0.999826,0.999876,0.002004,0.002075,0.002145,0.002157,0.002248,0.002340
4,4,0.999965,0.999981,0.999997,0.000107,0.000155,0.000202,0.000124,0.000174,0.000223
5,5,0.999990,0.999996,1.000002,0.000019,0.000034,0.000049,0.000024,0.000038,0.000052
6,6,NaN,1.000000,NaN,NaN,0.000020,NaN,NaN,0.000020,NaN

In [7]:
metrics_confidence_interval

                             Metrics    LB - Value  AVG - Value  UB - Value
0          Average Elements in Queue  1.488892e-04     0.000199    0.000249
1         Average Elements in System  2.493371e-01     0.251365    0.253393
2              Average Time in Queue  2.964792e-05     0.000040    0.000050
3            Average Time in Service  4.977521e-02     0.050010    0.050245
4             Average Time in System  4.981503e-02     0.050050    0.050285
5        Probability to Wait in Line  1.695281e-03     0.002078    0.002461
6   Probability to finish after Time  6.007861e-08     0.000030    0.000060
7     Probability to join the System  1.000000e+00     1.000000    1.000000
8            Std. Dev. Time in Queue  9.158118e-04     0.001163    0.001411
9          Std. Dev. Time in Service  4.993099e-02     0.050274    0.050617
10          Std. Dev. Time in System  4.993952e-02     0.050286    0.050632
11             Utilization Server #1  7.962565e-01     0.798841    0.801425
12             Utilization Server #2  1.754964e-01     0.177345    0.179193
13             Utilization Server #3  2.283795e-02     0.023815    0.024791

In [8]:
simulation = phitter.simulation.QueueingSimulation(
    a="exponential",
    a_parameters={"lambda": 5},
    s="exponential",
    s_parameters={"lambda": 20},
    c=3,
    n=100,
    k=3,
    d="LIFO",
)



simulation.run(2000)

,Attention Order,Arrival Time,Total Number of people,Number of people in Line,Time in Line,Time in service,Leave Time,Join the system?,Time busy server 1,Time busy server 2,Time busy server 3,Server 1 attended this element?,Server 2 attended this element?,Server 3 attended this element?,Finish after closed
0,1,0.036900,1,0,0.0,0.073780,0.110681,1,0.110681,0.000000,0.000000,1,0,0,0
1,2,0.050360,2,0,0.0,0.110527,0.160887,1,0.110681,0.160887,0.000000,0,1,0,0
2,3,0.249661,1,0,0.0,0.011519,0.261180,1,0.261180,0.160887,0.000000,1,0,0,0
3,4,0.293151,1,0,0.0,0.046236,0.339387,1,0.339387,0.160887,0.000000,1,0,0,0
4,5,0.562212,1,0,0.0,0.017143,0.579355,1,0.579355,0.160887,0.000000,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,18.458318,1,0,0.0,0.042239,18.500557,1,18.500557,16.292373,2.502449,1,0,0,0
96,97,18.485066,2,0,0.0,0.031498,18.516564,1,18.500557,18.516564,2.502449,0,1,0,0
97,98,19.031455,1,0,0.0,0.137840,19.169295,1,19.169295,18.516564,2.502449,1,0,0,0
98,99,19.072312,2,0,0.0,0.017389,19.089701,1,19.169295,19.089701,2.502449,0,1,0,0
99,100,19.093236,2,0,0.0,0.038739,19.131975,1,19.169295,19.131975,2.502449,0,1,0,0

In [9]:
simulation.metrics_summary()

                             Metrics     Value
0             Average Time in System  0.042186
1              Average Time in Queue  0.000000
2            Average Time in Service  0.042186
3           Std. Dev. Time in System  0.039429
4            Std. Dev. Time in Queue  0.000000
5          Std. Dev. Time in Service  0.039429
6         Average Elements in System  0.002109
7          Average Elements in Queue  0.000000
8     Probability to join the System  1.000000
9   Probability to finish after Time  0.000000
10       Probability to Wait in Line  0.000000
11             Utilization Server #1  0.800000
12             Utilization Server #2  0.190000
13             Utilization Server #3  0.010000

In [10]:
simulation.number_probability_summary()

,Number of elements,Prob. Less or Equals,Exact Probability,Prob. Greter or equals
0,0,0.998463,0.998463,1.000000
1,2,1.000000,0.000172,0.000172
2,1,0.999828,0.001364,0.001537