# Comparison of IPL and ORMIR_XCT Segmentations

This notebook outputs tables of DICE coefficients, Jaccard indicies, and Hausdorff distances between IPL and ORMIR_XCT generated segmentations. In particular, automatic periosteal segmentation and trabecular segmentation are compared.

CSV files of DICE coefficients, Jaccard indicies, and Hausdorff distances (mean and maximum) are provided in the csv directory and will be loaded using Pandas.

# Step 1: Imports

Import libraries and load the CSV files.

In [58]:
import os
import pandas as pd

## Step 2: Generate the Tables

In [63]:
# Set table default options
pd.set_option('display.max_colwidth', None)
pd.set_option('colheader_justify', 'center')

In [64]:
ipl_seg_path = os.path.join("csv", "ipl_seg.csv")

df_ipl_seg = pd.read_csv(ipl_seg_path)

# Remove Hausdorff distance columns (in mm)
df_ipl_seg = df_ipl_seg.drop(columns=["Scan", "DIP2 Mean Hausdorff (mm)", "DIP2 Max Hausdorff (mm)", 
                "DIP3 Mean Hausdorff (mm)", "DIP3 Max Hausdorff (mm)", 
                "TMC Mean Hausdorff (mm)", "TMC Max Hausdorff (mm)"])

# Fill NaN values with the string 'No Seg'
df_ipl_seg.fillna("No Seg", inplace=True)

# Display the table
df_ipl_seg.style.format(precision=2)

In [65]:
autocontour_seg_path = os.path.join("csv", "autocontour.csv")

df_autocontour = pd.read_csv(autocontour_seg_path)

# Remove Hausdorff distance columns (in mm)
df_autocontour = df_autocontour.drop(columns=["Scan", "DIP2 Mean Hausdorff (mm)", "DIP2 Max Hausdorff (mm)", 
                "DIP3 Mean Hausdorff (mm)", "DIP3 Max Hausdorff (mm)", 
                "TMC Mean Hausdorff (mm)", "TMC Max Hausdorff (mm)"])

# Fill NaN values with the string 'No Seg'
df_autocontour.fillna("No Seg", inplace=True)

# Display the table
df_autocontour.style.format(precision=2)