In [ ]:
#EDA contd
import pandas as pd
chips = pd.read_csv('http://bit.ly/chiporders',sep='\t')

Order ID: A unique identifier for each order. Quantity: The number of items ordered. Item Name: The name of the menu item. Choice Description: Additional details or customization options for the ordered item. Item Price: The price of the individual item. Order Date: The date and time when the order was placed. Total: The total cost of the order.

In [ ]:
chips.head(10)

In [ ]:
chips.shape[0]

In [ ]:
chips['order_id'].value_counts().head(15) #each order id ordered how many different times

In [ ]:
#Extract the information of all oredered items containing chicken as one of the ingredint
chips[chips['item_name'] == 'Chicken']

In [ ]:
chk = chips[chips['item_name'].str.contains('Chicken')]

In [ ]:
chk.head(10)

In [ ]:
chips['item_price'].str.replace('$','').astype(float).max()

In [ ]:
c1=chips['item_price'].str.replace('$','')
c1.head(5)

In [ ]:
chips.loc[3598]['item_name']

In [ ]:
#Explore oreder id as : - Each order id ordered how many items
chips.groupby('order_id')['quantity'].sum().head(20)

https://datascience.fm/pandas-for-simple-data-analysys/

Order ID: A unique identifier for each order.
Quantity: The number of items ordered.
Item Name: The name of the menu item.
Choice Description: Additional details or customization options for the ordered item.
Item Price: The price of the individual item.
Order Date: The date and time when the order was placed.
Total: The total cost of the order.

In [ ]:
# finding is there any columns present in our data
chips.isnull().sum()

In [ ]:
chips.index

In [ ]:
#Which was the most ordered item? and How many items were ordered?
c = chips.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(10)

In [ ]:
import pandas as pd
dt = pd.DataFrame({'id' : [1,2,2,2,3,3,3,4,5,6] ,
                       'order count' : [1,2,1,3,1,1,2,1,2,1]})
dt

In [ ]:
dt['id'].value_counts()

In [ ]:
dt.groupby('id')['order count'].sum()

In [ ]:
https://builtin.com/software-engineering-perspectives/pandas-iloc

https://www.geeksforgeeks.org/difference-between-loc-and-iloc-in-pandas-dataframe/

In [ ]:
TI=pd.read_csv('TRAIN1.csv')

In [ ]:
TI.head(5)

In [ ]:
TI.info()

In [ ]:
TI.loc[TI['Sex']=='male'] #to get list of male passengers

In [ ]:
titanic=TI
titanic.loc[(titanic['Sex']=='male') & (titanic['Embarked']=='S')].head()

In [ ]:
titanic.loc[0:5,['Sex','Age']]

In [ ]:
titanic.iloc[0:4,2:5]

In [ ]:
# importing the module
import pandas as pd

# creating a sample dataframe
data = pd.DataFrame({'Brand': ['Maruti', 'Hyundai', 'Tata',
							'Mahindra', 'Maruti', 'Hyundai',
							'Renault', 'Tata', 'Maruti'],
					'Year': [2012, 2014, 2011, 2015, 2012,
							2016, 2014, 2018, 2019],
					'Kms Driven': [50000, 30000, 60000,
									25000, 10000, 46000,
									31000, 15000, 12000],
					'City': ['Gurgaon', 'Delhi', 'Mumbai',
							'Delhi', 'Mumbai', 'Delhi',
							'Mumbai', 'Chennai', 'Ghaziabad'],
					'Mileage': [28, 27, 25, 26, 28,
								29, 24, 21, 24]})

# displaying the DataFrame
display(data)

In [ ]:
# selecting cars with brand 'Maruti' and Mileage > 25
display(data.loc[(data.Brand == 'Maruti') & (data.Mileage > 25)])

In [ ]:
# selecting range of rows from 2 to 5
display(data.loc[2: 5])

In [ ]:
# updating values of Mileage if Year < 2015
data.loc[(data.Year < 2015), ['Mileage']] = 22
display(data)

In [ ]:

# selecting 0th, 2nd, 4th, and 7th index rows
display(data.iloc[[0, 2, 4, 7]])

In [ ]:
# selecting rows from 1 to 4 and columns from 2 to 4
display(data.iloc[1: 5, 2: 5])

In [ ]:
# Bar plot
import seaborn as sns
import matplotlib.pyplot as plt

df=titanic
sns.countplot(x='Survived', data=df)
plt.xlabel('Survival Status')
plt.ylabel('Count')
plt.title('Survival Count')
plt.show()

# Histogram
plt.hist(df['Age'], bins=10)
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.title('Distribution of Age')
plt.show()

# Scatter plot
plt.scatter(df['Age'], df['Fare'])
plt.xlabel('Age')
plt.ylabel('Fare')
plt.title('Age vs. Fare')
plt.show()

# Box plot
sns.boxplot(x=df['Survived'], y=df['Fare'])
plt.xlabel('Survival Status')
plt.ylabel('Fare')
plt.title('Survival Status vs. Fare')
plt.show()